@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
  .global-font {
    @apply font-mono
  }
  .custom-text {
    @apply text-text text-4xl px-4 uppercase global-font border
    hover:text-hover cursor-pointer
  }
  .global-section {
    @apply flex h-screen  mt-28
  }
}

@media screen and (max-width: 640px) {
  .about-work-skills {
     display: none;
  }
  .alina-container {
    justify-items: center;
    align-items: center;
  }
 }

:root {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
 }

body {
  background-color: #191919;

 }
