@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
  .global-font {
    @apply font-mono
  }
  .custom-text {
    @apply text-text text-4xl px-4 uppercase global-font border
    hover:text-hover cursor-pointer
  }
}

@media screen and (max-width: 640px) {
  .about-work-skills {
     display: none;
  }
  .alina-container {
    justify-items: center;
    align-items: center;
  }
 }

 

body {
  background-color: #191919;
 }
