@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
  .global-font {
    @apply font-mono
  }
  .custom-text {
    @apply text-text text-4xl px-4 uppercase global-font border
    hover:text-hover cursor-pointer
  }
  .global-section {
    @apply flex h-screen mt-20 lg:mt-20
  }
  .about-para {
    @apply text-text md:text-sm xl:text-lg global-font text-justify
    hover:text-hover hover:cursor-default

  }
  .about-div {
    @apply border-text border-2 text-center max-w-[35%] mt-24 p-10
    hover:border-hover hover:cursor-default
  }
  
}

@media screen and (max-width: 640px) {
  .about-work-skills {
     display: none;
  }
  .alina-container {
    justify-items: center;
    align-items: center;
  }
 }

 .rounded-full {
  border-radius: 50%; /* Makes the image fully rounded */
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

:root {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #191919;

}
